*
{
    margin: 0;
    padding: 0;
}
.box1
{
    height: 100vh;
    width: 100%;
    background-image: url(images/code.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
   
}
.box3
{
    height: 100vh;
    width: 100%;
    background-color: green;
}
.box3
{
    height: 80vh;
    width: 100%;
    background-image: url(images/low.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}


.head1
{
    font-size: 45px;
    text-align: center;
    margin-top: 200px;
    font-style: italic;
    text-decoration: underline;
    font-family: serif;
    border: 2px solid black;
    width: 450px;
    height: 250px;
    text-align: center;
    margin-left: 540px;
    background-color: white;
    border-radius: 10px;
}
.para1
{
    font-size: 16px;
    margin-top: 10px;
}
.btn0
{
  margin-left: 100px;
}
.btn0:hover
{
    background-color: black;
    color: white;
    font-size: 16px;
    transform: scale(110%);
    transition: 1s;
    border: 2px solid white;

}

button .btn
{
    font-size: 10px;

}
.nav-item .nav-link:hover 
{
  transition: 1s;
 transform: scale(110%);
 font-size: 16px;
 color: #000;
}
.nav-link
{ 
  color: black;
}

.nav-item .btn:hover
{
  background-color: black;
    color: white;
}
@media only screen and (max-width:1400px)
{
  .nav-item .nav-link:hover 
  {
    transition: none;
    transform: none;
    font-size: medium;
    background-color: black;
    color: #fff;
  }
}



.social {
    position: fixed;
    top: 500px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .social {
    position: fixed;
    top: 400px;
   
  }
  
  .social ul 
  {
    padding: 0px;
    transform: translate(-270px, 0);
    
  }
  
  .social ul li {
    display: block;
    margin: 20px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  
  .social ul li:hover {
  
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  
  .social ul li:hover a {
    color: #000;
  }
  
  .social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
  
    transform: rotate(360deg);
  
    transition: all 1s;
  }
  
  .social ul li i {
    margin-left: 20px;
    color: #000;
    background: #fff;
    padding: 10px;
  
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
  
    transform: rotate(0deg);
  }
  
.container .contbox1
{
  width: 70%;
  color: white;
  font-size: 3vw;
  font-family: arial;
  text-align: center;
  background:rgba(255,255,255,.3);
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 15%;

}



  .card {
      margin-top: 30px;
      text-align: center;
  }

  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: 0.25rem;
  }

  .card-header{
      
      color: black;
      font-size: 50px;
      font-family: Arial;
      border-bottom: 2px solid  black;
  }

.btn2 
{
    
    
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;

    background-color: black;
    /* border: 2px solid white;   */
}
.midpart
{
  text-align: center;
  margin-top: 20px;
}
.btn2:hover
{
   background-color: white;
    color: black;
    font-size: 16px;
    transform: scale(110%);
    transition: 1s;
    border: 2px solid black;
    
}
.date
{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
}
.card-body1
{
  
  width: 50%;
}
.card-header1
{
  text-align: center;
  font-size: 40px;
}
.card1
{
  border: 2px solid red;
}

.box4
{
    height: 80vh;
    width: 100%;
    background-image: url(images/abc.jpeg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.thumbnail
{
  margin-top: 100px;
  
}
.carousel-item
{
  width: 50%;
  margin-top: 50px;
  margin-left: 370px;
}
.restohead
{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.local1
{
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
}
.img1:hover
{
 
  transform: scale(110%);
  transition: 1s;
}
.rows
{
 background-color: black;
  
}
.box6 .row .col-lg-4
{
 height: 300px; 
 width: 400px; 
 border: 2px solid white; 
 color: white;
 
 
}
.box6 .row .col-lg-6
{
 height: 300px; 
 width: 400px; 
 border: 2px solid white;
 color: white; 
}


#sklone:hover
{
    background-color: red;
    color: white;
    transition: 1s;
    transform: scale(110%);

    
}
#skltwo:hover
{
    background-color: orange;
    color: white;
    transition: 1s;
    transform: scale(110%);
}
#sklthree:hover
{
    background-color: purple;
    color: white;
    transition: 1s;
    transform: scale(110%);
    
}
#sklfour:hover
{
    background-color: yellow;
    color: white;
    transition: 1s;
    transform: scale(110%);
}
#sklfive:hover
{
    background-color: #1e81b0;
    color: white;
    transition: 1s;
    transform: scale(110%);
}
#sklsix:hover
{
    background-color: #154c79;
    color: white;
    transition: 1s;
    transform: scale(110%);
    
}
#sklseven:hover
{
    background-color: violet;
    color: white;
    transition: 1s;
    transform: scale(110%);
    
}
#skleight:hover
{
    background-color: green;
    color: white;
    transition: 1s;
    transform: scale(110%);
   
}

.box6 .row .col-lg-4 .card-text
{
    margin-top: 30%;
    font-size: 2rem;  
}
.box6 .row .col-lg-6 .card-text
{
    margin-top: 30%;
    font-size: 2rem;  
}
.box6 .row
{
    display: flex;
    justify-content: space-evenly;
}

.hero
{
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
.hero .mycustomrow
{
  width: 300px;
  margin: 100px auto 0;
  overflow: visible;
}
.mycustomrow img
{
  -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1) , rgba(255,255,255,0.3));
}

.boxabtus
{
   height: 80vh;
    width: 100%;
    background-image: url(images/1_ryYoghrXkMT0SRVKgWDiQQ.jpeg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}



.myname
{
  color:#fff ;
  
}
.myname1
{
  font-size: 15px;
  color: white;
}
h4
{
  color: white;
}

  

